{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "d_sachdev@us.ibm.com",
      "Space": "Insurance"
    },
    "Name": "ipa_demo-dayal",
    "Instrumentation": {
      "host": "watson-ipa-web-nodejs-dayal",
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}